@model List<Tag>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       id="tagDropdown"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
        Thẻ
    </a>

    <ul class="dropdown-menu" aria-labelledby="tagDropdown">
        @foreach (var tag in Model)
        {
            <li>
                <a class="dropdown-item"
                   asp-controller="Products"
                   asp-action="ProductsByTag"
                   asp-route-id="@tag.TagId">
					@tag.TagName
                </a>
            </li>
        }
    </ul>
</li>
