@using GBStore.Models
@using GBStore.Data
@inject GbstoreContext _context

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="TVLuanIT" />
    <title>@ViewData["Title"] - GBStore</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/loginStyle.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/product_reviewStyle.css" rel="stylesheet"/>

</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" asp-controller="home" asp-action="Index">
                <img src="~/images/logo-removebg-preview.png" alt="G-Base Store" style="height:50px;"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form asp-controller="Products" asp-action="Search" method="get" class="d-flex me-3">
                    <input class="form-control me-2" type="search" name="keyword" placeholder="Bạn muốn tìm gì nhỉ" aria-label="Search" value="@ViewBag.Keyword">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                    </li>
                    @await Component.InvokeAsync("BrandMenu")
					@await Component.InvokeAsync("CategoryMenu")
					@await Component.InvokeAsync("TagMenu")
                </ul>

                <!-- CART -->
                @{
                    int cartCount = 0;

                    if (User.Identity!.IsAuthenticated)
                    {
                        var customerIdClaim = User.FindFirst("CustomerId");

                        if (customerIdClaim != null)
                        {
                            int customerId = int.Parse(customerIdClaim.Value);

                            cartCount = _context.ShoppingCartItems
                            .Where(x => x.ShoppingCart.Customer.CustomerId == customerId &&
                            x.ShoppingCart.ShoppingCartStatus == "ACTIVE")
                            .Sum(x => (int?)x.Quantity) ?? 0;
                        }
                    }
                }
                <a asp-controller="ShoppingCarts"
                   asp-action="Index"
                   class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">
                        @cartCount
                    </span>
                </a>

                <!-- LOGIN / REGISTER -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @await Component.InvokeAsync("UserAvatar")
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a class="dropdown-item" asp-controller="MyAccount" asp-action="Index">My Account</a>
                                </li>
                                <li>
                                    <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-inline">
                                        <button type="submit" class="dropdown-item">Đăng Xuất</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Đăng Nhập</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Đăng Ký</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">G-Base Store</h1>
                <p class="lead fw-normal text-white-50 mb-0">Chuyên mô hình Gundam chính hãng.</p>
            </div>
        </div>
    </header>

    <div class="container my-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; G-Base Store 2025</p></div>
    </footer>

    @RenderSection("Scripts", required: false)

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/site.js"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>