@model List<Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       id="categoryDropdown"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
        Loại sản phẩm
    </a>

    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
        @foreach (var category in Model)
        {
            <li>
                <a class="dropdown-item"
                   asp-controller="Products"
                   asp-action="ProductsByCategory"
                   asp-route-id="@category.CategoryId">
					@category.CategoryName
                </a>
            </li>
        }
    </ul>
</li>
